{erl_opts, [debug_info]}.
{deps, []}.

{shell, [
    {config, "config/etacacs_plus.config"},
    {apps, [etacacs_plus]}
]}.

{relx,
 [{release, {etacacs_plus, "0.1.3"}, [etacacs_plus]},
  {sys_config, "config/etacacs_plus.config"},
  {vm_args, "config/etacacs_plus.args"},
  {mode, dev},
  {overlay, [{mkdir, "config"},
             {copy, "config/db.conf", "config/db.conf"}]}
 ]
}.

{ex_doc, [
    {extras, ["README.md", "LICENSE.md"]},
    {main, "README.md"},
    {source_url, "https://github.com/etnt/etacacs_plus"}
]}.

{hex, [{doc, ex_doc}]}.
