[{etacacs_plus,
    [{key, "tacacs123"},
     {listen_ip, {0,0,0,0}},
     {port, 5049},
     {db_conf_file, "config/db.conf"}
    ]
 },
 {kernel,
  [{logger_level, info},
   {logger,
    [{handler, default, logger_std_h,
      #{level => error,
        config => #{ file => "log/error.log",
                     max_no_bytes => 4096,
                     max_no_files => 5},
        formatter => {logger_formatter, #{}}}},
     {handler, etacacs_plus_log, logger_disk_log_h,
       #{level => info,
         config => #{
            file => "log/etacacs_plus.log",
            type => wrap,
            max_no_files => 5,
            max_no_bytes => 4096,
            sync_mode_qlen => 0, % handle all events synchronously
            filesync_repeat_interval => 100, % fsync after 100ms when a change is made
            %% drop overload control
            drop_mode_qlen => 100000000, % ridiculously large queue before we drop
            flush_qlen => 100000001, % ensure we pretty much never drop silently
            burst_limit_enable => false, % no burst protection
            overload_kill_enable => false % kill the whole node, not just the logger
         },
         %% only keep what you must
         filters => [
           %% Change 'stop' to 'ignore' to let other info msgs through.
           {log_filter, {fun etacacs_plus_server:log_filter/2, stop}}
         ],
         filter_default => stop,
         formatter => {logger_formatter, #{}}
         %% Keep structured logs to one line
         %formatter => {flatlog, #{
         %  map_depth => 3,
         %  term_depth => 500 % bigger term depth
         %}}
        }
     }
    ]
   }
  ]
 }
].
